@inject NavigationManager Navigation

<div class="service-card" @onclick="() => Navigation.NavigateTo(Link)">
    <div class="service-icon">
        <i class="@Icon"></i>
    </div>
    <h3 class="service-title">@Title</h3>
    <p class="service-description">@Description</p>
    <div class="service-price">@Price</div>
    <button class="service-btn">Learn More</button>
</div>

