@inject NavigationManager Navigation

<div class="training-card" @onclick="() => Navigation.NavigateTo(Link)">
    <div class="training-icon">
        <i class="@Icon"></i>
    </div>
    <h3 class="training-title">@Title</h3>
    <p class="training-description">@Description</p>
    <div class="training-footer">
        <span class="training-price">@Price</span>
        <span class="training-link">Learn More <i class="fas fa-arrow-right"></i></span>
    </div>
</div>




