@inject NavigationManager Navigation

<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="/" class="brand-link">
                <img src="/images/logo.png" alt="Kutech" class="logo" />
                <span class="brand-text">KUTECH</span>
            </a>
        </div>

        <button class="nav-toggler @(isExpanded ? "active" : "")" @onclick="ToggleNavMenu">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass">
            <ul class="nav-list">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" @onclick="@(() => ToggleDropdown("training"))">
                        Training <i class="fas fa-chevron-down"></i>
                    </a>
                    @if (openDropdown == "training")
                    {
                        <div class="dropdown-menu show">
                            <NavLink class="dropdown-item" href="training/on-demand">On Demand</NavLink>
                            <NavLink class="dropdown-item" href="training/remote">Remote Training</NavLink>
                            <NavLink class="dropdown-item" href="training/in-person">In Person</NavLink>
                            <NavLink class="dropdown-item" href="training/courses">All Courses</NavLink>
                        </div>
                    }
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" @onclick='() => ToggleDropdown("services")'>
                        Services <i class="fas fa-chevron-down"></i>
                    </a>
                    @if (openDropdown == "services")
                    {
                        <div class="dropdown-menu show">
                            <NavLink class="dropdown-item" href="services/consultancy">Consultancy</NavLink>
                            <NavLink class="dropdown-item" href="services/health-check">Health Check</NavLink>
                            <NavLink class="dropdown-item" href="services/support">Support Contracts</NavLink>
                            <NavLink class="dropdown-item" href="services/adhoc">Ad-hoc Support</NavLink>
                        </div>
                    }
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="blog">
                        Blog
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">
                        About
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">
                        Contact
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link cart-link" href="cart">
                        <i class="fas fa-shopping-cart"></i>
                        @if (cartItemCount > 0)
                        {
                            <span class="cart-badge">@cartItemCount</span>
                        }
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>



